@font-face {
  font-family: 'Moki';
  src: url('../public/fonts/FaceType-Moki-Mono.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --primary: #ea3858;
  --primary-hover: #ffffff;
  --primary_bg: #eff3f3;
  --grey: #c8d7d7;
  --alt_bg: #f8f8f8;
  --button: #073336;
  --button-hover: var(--primary);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mulish, sans-serif;
}

a {
  color: var(--primary);
  text-decoration: none;
  &:hover {
    color: var(--primary-hover);
  }
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #05343a;
  margin: 0 0 91px 0;
}

.ui.search.selection.dropdown {
  width: 335px;
  // height: 36px;

  background: #f8f8f8;
  border: 1px solid #05343a;
  box-sizing: border-box;
  border-radius: 3px;

  font-style: normal;
  font-weight: normal;
}
