.container {
  align-items: center;
  background: var(--primary_bg);
  display: flex;
  flex-direction: column;
}

.question_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 375px;
}

.mainBG {
  align-items: center;
  background-image: url(../public/images/Feast.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 20px 16px 20px;
  width: 375px;
  height: 100vh;
}

.bestLogo {
  margin-top: 62px;
  margin-bottom: 40px;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 345px;
  height: 54px;

  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  border-radius: 10px;
  border: none;

  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: rgba(0, 0, 0, 0.54);
}
