.container {
  align-items: center;
  background: var(--primary_bg);
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1rem; */
}

.mainBG {
  align-items: center;
  background-image: url(../public/images/Feast.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 20px 16px 20px;
  width: 375px;
  height: 667px;
  /* border: 1px solid red; */
}

.bestLogo {
  margin-top: 62px;
  margin-bottom: 40px;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 345px;
  height: 54px;

  background: #fafafa;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  border-radius: 10px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: rgba(0, 0, 0, 0.54);
}
